.it-exchange-related-product-list {background: #FFF;border: 1px solid #E8E8E8;}
.it-exchange-related-product-list li {margin: 0;border-bottom: 1px solid #E8E8E8;padding: 12px;font-size: 1.1em;}
.it-exchange-related-product-list li:last-child {border-bottom: none;}
.it-exchange-related-product-list li span {float: right;box-sizing: content-box;display: inline-block;width: 18px;height: 18px;border: 2px solid transparent;border-radius: 50%;font-size: 14px;text-decoration: none;text-align: center;color: #BBB;transition: all 0.2s linear 0s;}
.it-exchange-related-product-list li span:hover {border-color:#E1797A;color:#E1797A;cursor:pointer;}
