.it-exchange-related-products {margin-left: 0;padding: 0;}
.it-exchange-related-products-heading {margin: 2em 0 0 0;padding: 1em 0;border-top: 1px solid #ebebeb;}
.it-exchange-related-product-list {list-style:none;margin: 0;}
.it-exchange-related-product {width: 100%;max-width: 30%;margin: 0px 2.75% 2em 0;display:inline-block;vertical-align: top;}
.it-exchange-related-product img {max-width: 100%;}
.it-exchange-related-product-featured-image, .it-exchange-related-product-title {display:block;}
.it-exchange-related-product .entry-title {font-size: 1em;margin: .5em 0;line-height: 1;}

@media screen and (max-width: 768px) {
	.it-exchange-related-product {max-width: 48% !important;margin-right: 0;}
	.it-exchange-related-product:nth-child(2n+1) {margin-right: 2%;}
}

@media screen and (max-width: 400px) {
	.it-exchange-related-product {max-width: 100% !important;margin: 0 0 2em 0;}
}